body{
    /* background-color: black;
    color: #ffffff; */
}

.input-color{
    color: #ffffff;
}

input{
    color: black !important;
    background: #ffffff !important;
    height: 25px !important;
}